# Import

In [ ]:
import os
import json
from datetime import datetime
import requests
import pandas as pd

Folders ready: ..\data\raw ..\data\processed

# Setup

In [ ]:
BASE_URL = "https://ghoapi.azureedge.net/api"  # WHO GHO OData API
PROJECT_ROOT = ".."  # adjust if needed

RAW_DIR = os.path.join(PROJECT_ROOT, "data", "raw")
PROCESSED_DIR = os.path.join(PROJECT_ROOT, "data", "processed")

os.makedirs(RAW_DIR, exist_ok=True)
os.makedirs(PROCESSED_DIR, exist_ok=True)

session = requests.Session()
session.headers.update({
    "User-Agent": "who-air-pollution-portfolio/1.0 (data-collection)"
})

print("Folders ready:", RAW_DIR, PROCESSED_DIR)

# Data Collection

In [2]:
# Cell 2 ‚Äî Helper: robust GET + pagination for WHO OData

def who_get(url: str, params: dict | None = None, timeout: int = 60) -> dict:
    r = session.get(url, params=params, timeout=timeout)
    r.raise_for_status()
    return r.json()


def fetch_odata_all(endpoint: str, params: dict | None = None, page_size: int = 1000, max_pages: int = 2000) -> list[dict]:
    """
    Fetch all rows from a WHO GHO OData endpoint using $top and $skip pagination.
    endpoint: full URL like f"{BASE_URL}/Indicator" or f"{BASE_URL}/<INDICATOR_CODE>"
    """
    params = dict(params or {})
    params.setdefault("$top", page_size)

    all_rows = []
    skip = 0
    pages = 0

    while True:
        pages += 1
        if pages > max_pages:
            raise RuntimeError("Too many pages ‚Äî stopping to avoid infinite loop.")

        params["$skip"] = skip
        payload = who_get(endpoint, params=params)
        rows = payload.get("value", [])

        all_rows.extend(rows)

        # stop condition
        if len(rows) < page_size:
            break

        skip += page_size

    return all_rows

In [3]:
# Cell 3 ‚Äî Search the indicator catalog to find the RIGHT indicator codes
# Tip: run this first, inspect results, pick your indicator(s)

def search_indicators(keyword: str, top: int = 50) -> pd.DataFrame:
    """
    Search Indicator catalog for keyword in IndicatorName.
    """
    # OData function 'contains' works on many OData services; if it fails,
    # you can fallback to pulling a bigger list and filtering in pandas.
    params = {
        "$filter": f"contains(IndicatorName,'{keyword}')",
        "$select": "IndicatorCode,IndicatorName",
        "$top": top
    }
    rows = fetch_odata_all(f"{BASE_URL}/Indicator", params=params, page_size=min(top, 1000))
    return pd.DataFrame(rows).sort_values("IndicatorName").reset_index(drop=True)

# Try a few searches:
df_pm = search_indicators("particulate", top=50)
df_air = search_indicators("air pollution", top=50)
df_air

   IndicatorCode                                      IndicatorName
0         AIR_10  Ambient air pollution  attributable DALYs per ...
1          AIR_6  Ambient air pollution  attributable deaths per...
2          AIR_7           Ambient air pollution attributable DALYs
3         AIR_43           Ambient air pollution attributable DALYs
4          AIR_9  Ambient air pollution attributable DALYs  (per...
5         AIR_90  Ambient air pollution attributable DALYs  (per...
6          AIR_8  Ambient air pollution attributable DALYs  in c...
7         AIR_71  Ambient air pollution attributable DALYs in ch...
8         AIR_73  Ambient air pollution attributable YLL in chil...
9         AIR_45            Ambient air pollution attributable YLLs
10         AIR_5  Ambient air pollution attributable death rate ...
11        AIR_42  Ambient air pollution attributable death rate ...
12        AIR_41          Ambient air pollution attributable deaths
13        AIR_50  Ambient air pollution attributable deaths (per...
14        AIR_72  Ambient air pollution attributable deaths in c...
15         AIR_4  Ambient air pollution attributable deaths in c...
16     SDGAIRBOD  Ambient and household air pollution attributab...
17    SDGAIRBODA  Ambient and household air pollution attributab...
18        AIR_44  DALYs attributable to ambient air pollution (a...
19        AIR_18  Household air pollution  attributable DALYs pe...
20        AIR_14  Household air pollution  attributable deaths p...
21        AIR_15         Household air pollution attributable DALYs
22        AIR_17  Household air pollution attributable DALYs (pe...
23        AIR_39  Household air pollution attributable DALYs (pe...
24        AIR_75  Household air pollution attributable DALYs in ...
25        AIR_16  Household air pollution attributable DALYs in ...
26        AIR_51  Household air pollution attributable death rat...
27        AIR_52  Household air pollution attributable death rat...
28        AIR_11        Household air pollution attributable deaths
29        AIR_74  Household air pollution attributable deaths in...
30        AIR_12  Household air pollution attributable deaths in...
31        AIR_13  Household air pollution attributable deaths pe...
32        AIR_60  Household and ambient air pollution attributab...
33        AIR_61  Household and ambient air pollution attributab...
34        AIR_62  Household and ambient air pollution attributab...
35        AIR_63  Household and ambient air pollution attributab...
36        AIR_35  Joint effects of air pollution attributable de...
37        AIR_36  Joint effects of air pollution attributable de...
38        AIR_46  YLLs attributable to ambient air pollution (ag...

In [4]:
PM25_CODE = "SDGPM25"
DEATH_RATE_CODE = "AIR_5"

In [ ]:
def download_indicator(indicator_code: str) -> list[dict]:
    url = f"{BASE_URL}/{indicator_code}"
    return fetch_odata_all(url, params={}, page_size=1000)

def save_raw(rows: list[dict], name: str) -> str:
    ts = datetime.utcnow().strftime("%Y%m%d_%H%M%S")
    path = os.path.join(RAW_DIR, f"{name}_{ts}.json")
    with open(path, "w", encoding="utf-8") as f:
        json.dump(rows, f, ensure_ascii=False, indent=2)
    return path

pm25_rows = download_indicator(PM25_CODE)
death_rows = download_indicator(DEATH_RATE_CODE)

pm25_path = save_raw(pm25_rows, PM25_CODE)
death_path = save_raw(death_rows, DEATH_RATE_CODE)

print("Downloaded rows:", len(pm25_rows), len(death_rows))
print("Saved to:", pm25_path, death_path)

Downloaded rows: 10750 9258
Saved to: ..\data\raw\SDGPM25_20260111_054522.json ..\data\raw\AIR_5_20260111_054523.json

In [ ]:
def tidy_who_indicator(df: pd.DataFrame) -> pd.DataFrame:
    """
    Convert WHO indicator raw DataFrame into a tidy format
    while preserving essential metadata (e.g., SpatialDimType).
    """
    df = df.copy()

    # Choose the numeric value column
    value_col = "NumericValue" if "NumericValue" in df.columns else "Value"

    # Base columns we always want (if present)
    base_cols = ["SpatialDim", "SpatialDimType", "TimeDim", value_col]
    keep_cols = [c for c in base_cols if c in df.columns]

    # Keep all dimension columns (Dim1, Dim2, Dim3, ...)
    dim_cols = [c for c in df.columns if c.startswith("Dim")]
    keep_cols += dim_cols

    # Rename to friendly names
    out = df[keep_cols].rename(columns={
        "SpatialDim": "country_code",
        "TimeDim": "year",
        value_col: "value"
    })

    # Clean data types
    out["year"] = pd.to_numeric(out["year"], errors="coerce")
    out["value"] = pd.to_numeric(out["value"], errors="coerce")

    # Drop rows missing core fields
    out = out.dropna(subset=["country_code", "year", "value"]).reset_index(drop=True)

    return out


# Convert raw rows ‚Üí DataFrames
pm25_df = pd.DataFrame(pm25_rows)
death_df = pd.DataFrame(death_rows)

# Tidy
pm25_tidy = tidy_who_indicator(pm25_df)
death_tidy = tidy_who_indicator(death_df)

# Save processed CSVs
pm25_csv = os.path.join(PROCESSED_DIR, "pm25_tidy.csv")
death_csv = os.path.join(PROCESSED_DIR, "air_pollution_death_rate_tidy.csv")

pm25_tidy.to_csv(pm25_csv, index=False)
death_tidy.to_csv(death_csv, index=False)

print("Saved:", pm25_csv, death_csv)

# Data Inspection and Merging

In [40]:
print(death_df['TimeDim'].unique())
death_df.head()

[2019]

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,1095,AIR_5,UNREGION,30,None,YEAR,None,SEX,SEX_MLE,2019,...,None,0.05 [0.03-0.08],0.05425,0.02883,0.08197,None,2022-09-12T16:27:57+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
1,2548,AIR_5,UNSDGREGION,UNSDG_SUBSAHARANAFRICA,None,YEAR,None,SEX,SEX_FMLE,2019,...,None,0.14 [0.05-0.26],0.13766,0.05048,0.26479,None,2022-09-12T15:55:17+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
2,2893,AIR_5,COUNTRY,SUR,AMR,YEAR,Americas,SEX,SEX_FMLE,2019,...,None,1 [0-3],1.19598,0.16785,3.15941,None,2022-08-26T09:05:06+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
3,5304,AIR_5,UNREGION,143,None,YEAR,None,SEX,SEX_MLE,2019,...,None,0.13 [0.05-0.24],0.12585,0.04530,0.24394,None,2022-09-12T16:27:54+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
4,8281,AIR_5,UNSDGREGION,UNSDG_WESTERNASIANORTHERNAFR,None,YEAR,None,SEX,SEX_BTSX,2019,...,None,0.01 [0.00-0.02],0.01136,0.00459,0.02037,None,2022-09-12T15:55:20+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00

In [10]:
pm25_tidy.head()

,country_code,SpatialDimType,year,value,Dim1Type,Dim1,Dim2Type,Dim2,Dim3Type,Dim3
0,AFG,COUNTRY,2010,61.81464,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,None,None,None,None
1,HRV,COUNTRY,2019,15.48858,RESIDENCEAREATYPE,RESIDENCEAREATYPE_URB,None,None,None,None
2,LBN,COUNTRY,2013,24.41514,RESIDENCEAREATYPE,RESIDENCEAREATYPE_CITY,None,None,None,None
3,URY,COUNTRY,2019,8.23782,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,None,None,None,None
4,LBN,COUNTRY,2015,22.72126,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,None,None,None,None

In [13]:
print(pm25_tidy.info())
print('--'*50)
print(pm25_tidy['Dim1'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10750 entries, 0 to 10749
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_code    10750 non-null  object
 1   SpatialDimType  10750 non-null  object
 2   year            10750 non-null  int64
 3   value           10750 non-null  float64
 4   Dim1Type        10750 non-null  object
 5   Dim1            10750 non-null  object
 6   Dim2Type        0 non-null      object
 7   Dim2            0 non-null      object
 8   Dim3Type        0 non-null      object
 9   Dim3            0 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 840.0+ KB
None
----------------------------------------------------------------------------------------------------
['RESIDENCEAREATYPE_RUR' 'RESIDENCEAREATYPE_URB' 'RESIDENCEAREATYPE_CITY'
 'RESIDENCEAREATYPE_TOTL' 'RESIDENCEAREATYPE_TOWN']

### üå´Ô∏è Country-Level PM2.5 Exposure Filtering

We filter the WHO PM2.5 dataset to obtain a **national average exposure level**:

- üè† **`RESIDENCEAREATYPE_TOTL`** ‚Üí use the total population average (exclude urban, rural, city-specific values)
- üåç **Country‚ÄìYear grain** ‚Üí ensure one PM2.5 value per country per year

‚úÖ After this step, **each row represents the average PM2.5 exposure for an entire country in a given year**, making it directly comparable to national health outcome data.

In [14]:
pm25_f = pm25_tidy[pm25_tidy["Dim1"] == "RESIDENCEAREATYPE_TOTL"].copy()
pm25_f = pm25_f[["country_code", "year", "value"]].rename(columns={"value": "pm25"})

print("PM2.5 filtered shape:", pm25_f.shape)
pm25_f.head()

PM2.5 filtered shape: (2210, 3)

   country_code  year      pm25
7           COG  2019  29.48397
22          NPL  2018  40.05945
23          VEN  2019  16.21392
24          EST  2014   7.84577
26          BFA  2016  43.05181

In [15]:
death_tidy.head()

,country_code,SpatialDimType,year,value,Dim1Type,Dim1,Dim2Type,Dim2,Dim3Type,Dim3
0,30,UNREGION,2019,0.05425,SEX,SEX_MLE,AGEGROUP,AGEGROUP_AGE25-29,ENVCAUSE,ENVCAUSE_ENVCAUSE114
1,UNSDG_SUBSAHARANAFRICA,UNSDGREGION,2019,0.13766,SEX,SEX_FMLE,AGEGROUP,AGEGROUP_AGE60-64,ENVCAUSE,ENVCAUSE_ENVCAUSE118
2,SUR,COUNTRY,2019,1.19598,SEX,SEX_FMLE,ENVCAUSE,ENVCAUSE_ENVCAUSE118,None,None
3,143,UNREGION,2019,0.12585,SEX,SEX_MLE,AGEGROUP,AGEGROUP_AGE50-54,ENVCAUSE,ENVCAUSE_ENVCAUSE118
4,UNSDG_WESTERNASIANORTHERNAFR,UNSDGREGION,2019,0.01136,SEX,SEX_BTSX,AGEGROUP,AGEGROUP_AGE25-29,ENVCAUSE,ENVCAUSE_ENVCAUSE118

In [16]:
death_tidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9258 entries, 0 to 9257
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_code    9258 non-null   object
 1   SpatialDimType  9258 non-null   object
 2   year            9258 non-null   int64
 3   value           9258 non-null   float64
 4   Dim1Type        9258 non-null   object
 5   Dim1            9258 non-null   object
 6   Dim2Type        9258 non-null   object
 7   Dim2            9258 non-null   object
 8   Dim3Type        5964 non-null   object
 9   Dim3            5964 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 723.4+ KB

In [35]:
print(death_tidy['SpatialDimType'].unique())
print('--'*40)
print(death_tidy['Dim1'].unique())
print('--'*40)
print(death_tidy['Dim2'].unique())
print('--'*40)
print(death_tidy['year'].unique())

['UNREGION' 'UNSDGREGION' 'COUNTRY' 'WORLDBANKINCOMEGROUP' 'GLOBAL'
 'REGION']
--------------------------------------------------------------------------------
['SEX_MLE' 'SEX_FMLE' 'SEX_BTSX']
--------------------------------------------------------------------------------
['AGEGROUP_AGE25-29' 'AGEGROUP_AGE60-64' 'ENVCAUSE_ENVCAUSE118'
 'AGEGROUP_AGE50-54' 'ENVCAUSE_ENVCAUSE114' 'AGEGROUP_AGE75-79'
 'AGEGROUP_AGE65-69' 'AGEGROUP_AGE80+' 'AGEGROUP_AGE35-39'
 'AGEGROUP_AGE70-74' 'AGEGROUP_AGE15-19' 'AGEGROUP_AGE40-44'
 'AGEGROUP_AGE55-59' 'ENVCAUSE_ENVCAUSE068' 'AGEGROUP_AGE0-4'
 'ENVCAUSE_ENVCAUSE000' 'ENVCAUSE_ENVCAUSE039' 'AGEGROUP_AGE30-34'
 'AGEGROUP_AGE45-49' 'ENVCAUSE_ENVCAUSE113' 'AGEGROUP_AGEAll'
 'AGEGROUP_AGE10-14' 'AGEGROUP_AGE20-24' 'AGEGROUP_AGE5-9']
--------------------------------------------------------------------------------
[2019]

### üîé Country-Level Death Rate Filtering

We filter the raw WHO death-rate data to create a **comparable, country-level dataset**:

- üåç **`SpatialDimType == "COUNTRY"`** ‚Üí keep only individual countries (exclude regions & global totals)
- üë• **`SEX_BTSX`** ‚Üí use both sexes combined
- ‚ò£Ô∏è **`ENVCAUSE_ENVCAUSE000`** ‚Üí total air-pollution causes (no sub-categories)

‚úÖ After this step, **each row represents one country in one year**, with a single air-pollution-attributable death rate ‚Äî ready to be merged with PM2.5 data.

In [26]:
death_f = death_tidy[
    (death_tidy["SpatialDimType"] == "COUNTRY") &
    (death_tidy["Dim1"] == "SEX_BTSX") &
    (death_tidy["Dim2"] == "ENVCAUSE_ENVCAUSE000")
].copy()

death_f = death_f[["country_code", "year", "value"]].rename(
    columns={"value": "death_rate"}
)

print("Death-rate filtered shape:", death_f.shape)
death_f.head()

Death-rate filtered shape: (183, 3)

    country_code  year  death_rate
24           SLB  2019    28.82460
90           FSM  2019    32.68390
143          COL  2019    25.98715
175          TGO  2019    39.35098
245          QAT  2019    15.12658

In [33]:
death_f['year'].value_counts()

year
2019    183
Name: count, dtype: int64

### üîó Merging Exposure and Health Outcome Data

We merge the two cleaned datasets using **country** and **year** as the common keys:

- üß≠ **`country_code` + `year`** ‚Üí define the same real-world unit (a country in a given year)
- üîÅ **`how="inner"`** ‚Üí keep only country‚Äìyear pairs where **both PM2.5 exposure and death rate are available**

‚úÖ The resulting dataset links **air pollution exposure (PM2.5)** with its **health impact (death rate)** at the country-year level, making it suitable for analysis.

In [27]:
merged = pm25_f.merge(
    death_f,
    on=["country_code", "year"],
    how="inner"
)

print("Merged shape:", merged.shape)
merged.head()

Merged shape: (183, 4)

  country_code  year      pm25  death_rate
0          COG  2019  29.48397    26.24600
1          VEN  2019  16.21392    30.17941
2          TUR  2019  23.25106    42.32768
3          FSM  2019   7.78563    32.68390
4          KOR  2019  24.03774    37.64416

# Save the final merged dataset

In [42]:
pm25_deathrate = os.path.join(PROCESSED_DIR, "merged_pm25_deathrate_2019.csv")
merged.to_csv(pm25_deathrate,index=False)
print("Saved merged dataset to:", pm25_deathrate)

Saved merged dataset to: ..\data\processed\merged_pm25_deathrate_2019.csv